<section class="home_content">

    <div class="home_content_text">
        <div id="logo">
            Logo
        </div>
    
        <p id="sub_title">
            El secreto <br> de tu cocina
        </p>
        <img class="brush_subtitle" src="assets/BRUSH-1.svg">
    </div>

    <div class="social_media">
        <div class="social_media_icon">
            <img src="assets/facebook-icon.svg">
        </div>
        <div class="social_media_icon">
            <img src="assets/instagram-icon.svg">
        </div>
        <div class="social_media_icon">
            <img src="assets/youtube-icon.svg">
        </div>
    </div>

</section>