.home_content {
    width: 1536px;
    height: 805px;
    background: url(/assets/b2.png);
    background-size: cover;
}

#logo {
    position: absolute;
    margin-left: 9.38%;
    margin-top: 2.05%;
    color: #3F454A;
    font-size: 40px;
    font-family: 'Caveat', cursive;
}